@font-face {
    font-family: 'link';
    src: url(../fonts/link.ttf);
}

@font-face {
    font-family: 'bodyf';
    src: url(../fonts/bodyf.ttf);
}

@font-face {
    font-family: 'plus';
    src: url(../fonts/plus.otf);
}

:root {
    --cor1:#123B73;
    --cor2:#464B52;
    --cor3:#6386B8;
    --cor4:#222933;
    --cor5:#172333;
    --cor6:#0e1f34;
    --cor7:#1669d5;
    --cor8:#e9edf1;

    --font-link: 'link';
    --font-body: 'bodyf';
    --font-body2: 'plus';
}


.allservices__main {
    background-color: white;
    
}

.allservices--destaque {
    background-color: black;
    padding: 20px;
    font-family:var(--font-body) ;
}

.allservices__title {
    color: white;
    margin: 10px 0px;
}

.allservices__text--destaque {
    color: white;
    
}

.allservices__text {
    background-color: white;
    padding:0px 20px;
    margin: 15px 0px;
}

.allservices__img {
    width: 100%;
}


footer {
    margin-top: 0;
    padding-top: 20px;
}




/*fim do mobile first*/


/*tablet:768*/

@media screen and (min-width:768px) {

    .allservices__title {
        text-align: center;
    }

    .allservices__text--destaque {
        width: 90%;
        margin: auto;
    }
    
    .allservices__text2 {
    display: block;
    
    
    
    
}

    .allservices__img {
        display: block;
        width: 40%;
        margin: auto;
        
        
        
    }

    .allservices__text {
        background-color: white;
        display: flex;
        justify-self: center;
        padding:0px 20px;
        margin: 15px 0px;
        width: 90%;
        
        
        
        
        
        
    }



}



    /*pc: 1024px*/

@media screen and (min-Width:1024px) {

   body {
    background-color: black;
   }

   main {
    background-color: white;
   }

    .allservices__text2 {
        display: grid;
        grid-template-columns: 50% 60%;
    }

    .allservices__img {
        grid-column: 2;
        grid-row: 1;
        margin-left: 15%;
        
    }

    

   footer {
    background-color: black;
   }
    
}