@charset "UTF-8";

@font-face {
    font-family: 'link';
    src: url(../fonts/link.ttf);
}

@font-face {
    font-family: 'bodyf';
    src: url(../fonts/bodyf.ttf);
}

@font-face {
    font-family: 'plus';
    src: url(../fonts/plus.otf);
}

:root {
    --cor1:#123B73;
    --cor2:#464B52;
    --cor3:#6386B8;
    --cor4:#222933;
    --cor5:#172333;
    --cor6:#0e1f34;
    --cor7:#1669d5;
    --cor8:#e9edf1;

    --font-link: 'link';
    --font-body: 'bodyf';
    --font-body2: 'plus';
}

a {
    font-family: var(--font-link);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    padding: 2px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.967);
    z-index: 10;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo {
    width: 200px;
    height: 72px;
    
    
}

.logo__img {
    object-fit: cover;
    width: 180px;
    height: 72px;
}

.menu {
    
    flex: 2;
    width: 40px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 15px;
    
    
}

.menu__list {
    font-size: 2em;
    color: white;
}

/*menu escondido*/

.menu__phone {
    display: none;
    z-index: 1;
    


    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 76px;
    right: 0;
    font-size: 1.5em;
    padding: 10px;
    border: 1px solid white;
    border-top: 0;
    border-right: 0;
    border-radius: 0px 0px 0px 10px;
    

}

.menu__phone li {
    margin: 8px;
}



.menu__visible a {
    color: white;
    font-size: 1.2em;
    color: var(--cor7);
}

.menu__visible--special {
    font-size: 1em;
    margin-left: 20px;
    margin-top: 20px;
}

.menu__visible--special a {
    color: var(--cor7);
}

/*menu escondido*/

.heros {
    background-image: url('../img/dark2-bg.jpg');
    background-position: top;
    background-size: cover;
    height: 320px;
    
    

}

.heros__text {
    color: white;
    padding:30px 2px;
    font-size: 1.2em;
    width: 85%;
    margin: auto;
    font-family: var(--font-body);
    
}

strong {
    color: var(--cor1);
}

.button {
    
    width: fit-content;
    padding: 10px;
    font-size: 0.8em;
    border: 1px solid white;
    border-radius: 20px;
    
    

}

.button:hover {
    cursor: pointer;
}

.button--redirect {
    background-color: rgba(0, 0, 0, 0.711);
    color: var(--cor7);
    margin: auto;
    margin-top: 10px;

}

.button--redirect:hover {
    background-color: black;
    padding: 12px;
    border:1px solid #1669d5;
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.688);
}

.email1 {
    display: none;
    z-index: 1000;
    
    position: fixed;
    background-color: var(--cor8);
    width: 90%;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -0%);
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
    top: 5vh;
}

.exit__form {
    position: absolute;
    right: 0;
    font-size: 1.5em;
    margin-right: 10px;
}

.email1__title {
    margin: 10px 0px;

}

.email1__form {
    margin-top: 10px;
    
}

.f__text::placeholder, .f__text--2::placeholder {
    font-family: 'Courier New', Courier, monospace;
}

.f__text {
    width: 90%;
    padding:5px;
    margin: 3px 10px;
    border-radius: 50px;
    border: 1px solid var(--cor2);
    
}

.f__text--2 {
    width: 90%;
    height: 50%;
    padding:5px;
    padding-bottom: 50px;
    margin: 3px 10px;
    border-radius: 10px;
    border: 1px solid var(--cor2);
    
}

.f__submit {
    display: flex;
    justify-content: center;
    justify-self: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
    font-family: var(--font-body2);

    background-color: #1669d53f;
}

.about {
    margin-bottom: 40px;
}

.about__card {
    
    width: 85%;
    margin: auto;
    margin-top: 40px;
}

.about__tittle {
    font-size: 2em;
    color: black;
    margin: 5px 0px;
}

.about__subtittle {
    font-size: 1.2em;
    margin: 2px 0px;
}

.about__text {
    margin: 30px 0px;
    font-size: 1.1em;
}

.more__link {
    color:var(--cor1);
}

.services {
    font-size: 14px;
    background-color: black;
    padding-bottom: 40px;
}

.services__maintitle {
    color: white;
    padding: 20px 15px;
    padding-bottom: 0px;
}


.services__area {
    color: white;
    width: 100% ;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns:50% 50%;
    gap: 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    

}

.services__card {
    width: 90%;
    height: 90%;
    border: 1px solid white;
    border-radius: 10%;
    display: block;
    margin-top: 20px;
    padding: 5px;
    
    
}

.services__title {
    text-align: center;
    color: var(--cor1);
    padding: 5px;
    font-size: 1.2em;
}

.services__text {
    text-align: center;
    padding: 10px;
}

.icon {
    font-size: 3em;
    color: var(--cor2);
    display: block;
    text-align: center;
}

.agende {
    color: white;
    background-image: url(../img/dark2-bg.jpg);
    background-size: cover;
    background-position: bottom;
    font-family: var(--font-body);
    
}

.agende__card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.085);
    padding: 10px;
    text-align: center;
}

.agende__title {
    text-align: center;
    margin: 2px;
    margin-top: 20px;
}

.agende__text {
    margin: 2px;
}

.agende__button {
    justify-content: center;
    margin: 15px auto;
    background-color: var(--cor1);
    border: 0;
    
}

.clients {
    background-color: white;
    padding-bottom: 50px;
}

.clients__title {
    margin: 0px 20px;
    margin-top: 40px;
}

.client__card {
    padding: 5px;
    height: 150px;
    margin: 0px 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    background-color: #1669d526;
    border-radius: 10px;
    
    
    
}

.client__img--align {
    
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.client__img {
    width: 80%;
    border-radius: 50%;
    align-items: center;
}

.client__msg {
    display: flex;
    flex-direction: column;
    
    align-self: center;
    
}

.client__text {
    margin: 5px 0px;
}

.client__cite {
    grid-column: 2;
    
}

footer {
    background-color: black;
    margin-top: 40px;
    color: white;
    padding-bottom: 50px;
    margin-bottom: -50px;
}

footer p {
    margin: 5px 10px;
}

.logo__footer {
    width: 200px;
    height: 80px;
    
}

.logo__imgfooter {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.redes {
    margin:10px;
}

.redes i {
    color: white;
    margin: 3px;
    font-size: 1.5em;
}

.menufooter {
    margin: 10px;
}

.menufooter ul {
    margin: 10px 0px;
    list-style: none;
    
}

.menufooter ul a {
    color: var(--cor7);
}


