@charset "UTF-8";

@font-face {
    font-family: 'link';
    src: url(../fonts/link.ttf);
}

@font-face {
    font-family: 'bodyf';
    src: url(../fonts/bodyf.ttf);
}

@font-face {
    font-family: 'plus';
    src: url(../fonts/plus.otf);
}

:root {
    --cor1:#123B73;
    --cor2:#464B52;
    --cor3:#6386B8;
    --cor4:#222933;
    --cor5:#172333;
    --cor6:#0e1f34;
    --cor7:#1669d5;
    --cor8:#e9edf1;

    --font-link: 'link';
    --font-body: 'bodyf';
    --font-body2: 'plus';
}

.workus__title {
    margin: 20px;
    font-family:var(--font-body2) ;
    text-align: center;
}

.workus__text {
    margin: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.email2__form {
    display: block;
    margin: auto;
    background-color: #1669d528;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    
    
}

.f__textwork {
    width: 100%;
    margin: 2px 0;

}

.seletor {
    margin: 4px 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: #1669d5;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;

}

.seletor__select {
    color: black !important;
}